/***************************
COLORS
***************************/
body {
	background-color: #E8E8E8;
}

/***************************
GENERAL
***************************/
html {
	margin-left: 1em;
	margin-right: 1em;
	font-family: 'Lato', sans-serif;
}

/***************************
TITLE
***************************/
#title {
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 700;
}

/***************************
RULES
***************************/
#rules {
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 400;
}

ul li {
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: 300;
}

/***************************
GAME
***************************/
#game {
	margin-top: 20px;
	margin-bottom: 20px;
}

#status {
	margin: 5px 45px 5px 45px;
	padding-left: 20px;
	font-weight: 400;
}

input {
	margin: 5px 10px 5px 30px;
}

#guess-count {
	margin: 5px 85px 5px 50px;
	padding-left: 10px;
	font-weight: 400;
}

#restart {
	margin: 5px 150px 0 105px;
}

#attempts {
	font-weight: 700;
}

/***************************
PREVIOUS LIST
***************************/
#previous-list {
	list-style: none;
}