/***************************
COLORS
***************************/
body {
	background-color: #E8E8E8;
}

/***************************
GENERAL
***************************/
html {
	margin-left: 1em;
	margin-right: 1em;
}

/***************************
GAME
***************************/
#status {
	margin: 5px auto 5px 57px;
}

input {
	margin: 5px auto 5px 10px;
}

#guess-count {
	margin: 5px auto 5px 57px;
}

#restart {
	margin: 5px auto 0 150px;
}